/* Home.css */

body {
    font-family: 'Poppins', sans-serif;
}

h1,
.font-weight-bold {
    color: #e2bd68;
    /* Primary color */
}

.text-primary {
    color: #e2bd68 !important;
}

.text-secondary {
    color: #6c757d !important;
}

.text-muted {
    color: #6c757d !important;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-primary {
    background-color: #e2bd68;
    border-color: #e2bd68;
}