.left {
    border-radius: .5rem 1.5rem 0 .5rem;
    max-width: 90%;
}

.right {
    border-radius: 1.5rem .5rem .5rem 0;
    max-width: 90%;
}


/* Hide scrollbar for WebKit browsers (Chrome, Safari, and newer versions of Edge) */
.chat-messages-container {
    overflow: auto;
    /* Ensure that the element is scrollable */
}

.chat-messages-container::-webkit-scrollbar {
    display: none;
    /* For WebKit browsers */
}

/* Hide scrollbar for Firefox */
.chat-messages-container {
    scrollbar-width: none;
    /* For Firefox */
}

/* Hide scrollbar for Internet Explorer and older versions of Edge */
.chat-messages-container {
    -ms-overflow-style: none;
    /* For Internet Explorer and older Edge */
}